/* шрифты на страницу*/ 
@font-face {
	font-family: "Myriad light";
	src: url("../fonts/myriadpro-light.otf"); 
}
@font-face {
	font-family: "Myriad bs";
	src: url("../fonts/myriadpro-blacksemicn.otf");
}
@font-face {
	font-family: "Myriad bold";
	src: url("../fonts/myriadpro-bold.otf");
}
html {
	font-size: 8px;
}
body {
	width: 100vw;
}
header {
	width: 100%;
	max-width: 500px;
	height: 100%;
	margin: 0 auto;
	min-height: 270px;
	max-height: 400px;
}
section {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	min-width: 300px;
	box-sizing: border-box;
	padding-top: 2%;
	padding-bottom: 2%;
}
.image__head {
	width: 60px;
	height: 60px;
	margin-top: -10px;
	margin-right: 2%;
	display: none;
}
.wrapper-circle {
	width: 100%;
	max-width: 450px;
	min-width: 320px;
	height: 100%;
	max-height: 500px;
	min-height: 320px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.wrapper__circle-image {
	width: 48%;
	margin: 0 auto;
}
.name, .soname, .the_post {
	width: 90%;
	height: 9%;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-family: "Myriad bold", monospace;
}
.name, .soname {
	font-size: 4.65rem;
}
.the_post {
	font-size: 2.12rem;
	font-weight: 600;
	margin: 10px auto;
}
.name {
	font-weight: 100;
	font-family: "Myriad light", monospace;
}

/*** profile */ 

.profile-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 98%;
	height: 40px;
	margin: 10px 0;
}
.profile__describe {
	width: 100%;
	padding-top: 1.5%;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.profile-wrapper span {
	height: 3px;
	width: 72.8321995%;
	background-color: #3d6cb0;
	margin: 0;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.head__title {
	font-size: 4rem;
	text-transform: uppercase;
	font-family: "Myriad bold";
	width: contain;
	color: #3d6cb0;
	margin: 0;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.profile__describe > span {
	font-weight: bold;
}
.profile__describe {
	font-family: "Myriad light", monospace;
	font-size: 2rem;
	margin-top: 5px;
}
/*contact link*/

.contact-link {
	width: 65%;
}
.contact-link > p {
	width: 40%;
	display: inline-block;
	font-family: "Myriad bold", monospase;
	font-size: 2rem;
	text-transform: uppercase;
	color: #3d6cb0;
	margin: 10px auto;
	
}
.contact-link > address, a {
	width: 60%;
	display: inline-block;
	font-family: "Myriad light", monospace;
	font-size: 2rem;
	font-style: normal;
	text-decoration: none;
	color: #000;
	}

	/*skills*/ 
.skills {
		font-size: 2.5rem;
		text-transform: uppercase;
		font-family:  "Myriad bold", monospace;
		font-weight: 300;
		text-align:center;

	}
.wrapper-skills > span {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin-left: 2px;
		margin-right: 2px;
		background-color: #e6e6e6;
	}
	/* teamwork*/
.wrapper_teamwork > span:nth-child(-n+12) {
		background-color: #3d6cb0;
	}
	/* creative*/
.wrapper_creative > span:nth-child(-n+10) {
		background-color: #3d6cb0;
	}
	/* innovate*/
.wrapper_innovate > span:nth-child(-n+7) {
		background-color: #3d6cb0;
	}
	/* communication*/
.wrapper_communication > span:nth-child(-n+12) {
		background-color: #3d6cb0;
	}

/*education*/ 
.education__podcast_job {
	height: contain;
}
.education__podcast_job h4 {
	font-size: 2.5rem;
	width: contain;
	color: #3d6cb0;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
    margin: 0 10px 0 0;
	font-family:  "Myriad bold", monospace;
}
.education__podcast_job div {
	width: calc(100% - 45px);
	margin: 0 auto; 
}
/*svg*/
.education__podcast_job svg {
	width: 25px;
	height: 15px;
	padding-top: 3%;
	margin-left: -30px;
	margin-right: 5px
}
.education__podcast_job span {
	font-size: 2.5rem;
	display: inline-block;
	font-family:  "Myriad light", monospace;
}
.education__podcast_job h5 {
	font-size: 2.5rem;
	font-family:  "Myriad light", monospace;
	margin-top: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
}.education__podcast_job p {
	font-size: 2rem;
	font-family:  "Myriad light", monospace;
	margin-top: 5px;
	margin-bottom: 5px;
}
@media (orientation: landscape) {
    .education__podcast_job span:before {
		content: "\002F" "\002F";
		margin-right: 5px;
	}
}

/*experience */

.expirience__podcast-exp {
	height: contain;
	padding-top: 3%;
}
.expirience__podcast-exp h4 {
	font-size: 2.5rem;
	width: contain;
	color: #3d6cb0;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
    margin: 0 10px 0 0;
	font-family:  "Myriad bold", monospace;
}
.expirience__podcast-exp div {
	width: calc(100% - 45px);
	margin: 0 auto; 
}

/*svg*/

.expirience__podcast-exp svg {
	width: 25px;
	height: 15px;
	margin-left: -30px;
	margin-right: 5px
}
/**/
.expirience__podcast-exp span {
	font-size: 2.5rem;
	display: inline-block;
	font-family:  "Myriad light", monospace;
}
.expirience__podcast-exp h5 {
	font-size: 2.5rem;
	font-family:  "Myriad light", monospace;
	margin-top: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.expirience__podcast-exp p {
	font-size: 2rem;
	font-family:  "Myriad light", monospace;
	margin-top: 5px;
	margin-bottom: 5px;
}
@media (orientation: landscape) {
    .expirience__podcast-exp span:before {
		content: "\002F" "\002F";
		margin-right: 5px;
	}
}

/*software*/

.software__block img {
	width: 67%;
	height: 20px;
	display: block;
	margin: 0 auto;
}
.software__block h4 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-family:  "Myriad bold", monospace;
	font-weight: 300;
	text-align: center;
	margin: 15px 0 auto;
}
/* > 600px  < 900px*/

@media (min-width: 600px) and (max-width: 900px){
	html {
		font-size: 9px;
	}
	body {
		margin: 0 auto;
	}
	section, header {
	    padding-right: 1%;
	    padding-left: 1%;
	    }
	.wrapper-circle {
		margin: 0 auto;
	}

	.image__head {
		display: block;
	}
}



@media (min-width: 901px) {
	html {
		font-size: 6px;
	}
	body {
		width: 90%;
		height: 1350px;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 1%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	section, header {
		margin: 0;
        width: 50%;
        height: contain;
	    padding-right: 1%;
	    padding-left: 1%;
	    }
	.image__head {
		display: block;
		}
    .wrapper__software_block {
    	height: 200px;
    	display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-items: flex-start;
    }
    .software__block {
    	width: 50%;
    }
    .expirience__podcast-exp span:before, .education__podcast_job span:before {
		content: "\002F" "\002F";
		margin-right: 5px;
	}
}
